<!DOCTYPE html>
<html>
    <head>
        <title>Mil Amores Food Truck Ordering System</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Mil Amores Food Truck Ordering System</a></h1>
            <h1><a href="/">Mil Amores Food Truck Menu</a></h1>
        </header>

        <article>
            <h2><a href="">Meal Choices</a></h2>
            <p>Taco......................................................$4.00</p>
            <p>Supreme Taco.......................................$5.00</p>
            <p>Quesadilla.............................................$8.00</p>
            <p>Burrito...................................................$12.00</p>
            <p>Nachos...................................................$12.00</p>
            <p>Arroz con Pollo.....................................$12.00</p>
        </article>

        <article>
            <h2><a href="">Meat Choices</a></h2>
            <p>Steak * Chicken * Pastor * Chorizo * Ground Beef</p>
        </article>
    </body>
</html>